In [1]:
import tensorflow
from tensorflow.keras.models import load_model
import numpy as np
import pandas as pd
import pickle

In [2]:
# load the trainer model,onehot model and scalar model
from tensorflow.keras.models import load_model
model=load_model("model.h5")

from sklearn.preprocessing import LabelEncoder
le_encoder_gender=LabelEncoder()
with open ("le_encoder_gender.pkl","rb") as file:
    le_encoder_gender = pickle.load(file)

with open ("onehot_encoder_geo.pkl","rb") as file:
    onehot_encoder_geo=pickle.load(file)

with open("scaler.pkl", "rb") as file:
   scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
#Example input data
input_data={
    "CreditScore" : 600,
    "Geography" : "France",
	"Gender" : "Male",
	"Age" : 40,
	"Tenure": 3,
	"Balance" : 60000 ,
	"NumOfProducts" : 2 ,
    "HasCrCard" : 1 ,  
    "IsActiveMember" : 1 ,
   "EstimatedSalary" : 50000 ,
}

In [4]:
# Create DataFrame from input data
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [5]:
#one hot encoded geography
from sklearn.preprocessing import OneHotEncoder
geo_encoder = OneHotEncoder()
geo_encoded = geo_encoder.fit_transform(input_df[["Geography"]])
geo_columns = geo_encoder.get_feature_names_out(["Geography"])
geo_encoded_df = pd.DataFrame(geo_encoded.toarray(), columns=geo_columns)

In [6]:
#Encode categorical  variables
# from sklearn.preprocessing import LabelEncoder
# label_encoder_gender = LabelEncoder()
# input_df["Gender"]=label_encoder_gender.fit_transform(input_df["Gender"])
# input_df

In [7]:
#creating the dataframe
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [8]:
#concatenate the encoded geography and the input_df
input_df=pd.concat([input_df.drop("Geography",axis=1), geo_encoded_df], axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France
0,600,Male,40,3,60000,2,1,1,50000,1.0

In [9]:
#Encode categorical  variables
from sklearn.preprocessing import LabelEncoder
label_encoder_gender = LabelEncoder()
input_df["Gender"]=label_encoder_gender.fit_transform(input_df["Gender"])
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France
0,600,0,40,3,60000,2,1,1,50000,1.0

In [10]:
#scaling the input data
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
input_scaled=scaler.fit_transform(input_df)
input_scaled

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [11]:
#predict churn
predictions = model.predict(input_scaled)
predictions

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 80ms/step

array([[0.1964879]], dtype=float32)

In [12]:
prediction = model.predict(input_scaled)
prediction_proba = prediction [0][0]
prediction_proba

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step

np.float32(0.1964879)

In [13]:
if prediction_proba > 0.5:
    print("The customer is likely to churn.")       
else:
    print("The customer is not likely to churn.")

The customer is not likely to churn.